body {
    margin: 0;
    padding: 0;
}

h1 {
    text-decoration: underline;
    color: #803B76;
    margin-left: 10px;
    margin-bottom: 25px;
}

.box {
    height: 50px;
    width: 50px;
    padding: 10px;
    border: 1px solid black;
    margin:25px;
    font-weight: bold;
    color: #fff;
    float: left;
    font-size: 17px;
    postition: relative;
}

#container :nth-child(4) {
    clear: left;
}

#box1 {
    background-color: #FF0000;
}

#box2 {
    background-color: #FFA500;
}

#box3 {
    background-color: #FFFF00;
}

#box4 {
    background-color: #008000;

}

#box5 {
    background-color: #0000FF;
}

#box6 {
    background-color: #FFC0CB;
}

.arrow {
    position: relative;
    top: -110px;
    right: -40px;

}

