html {

}

body {

}

/***********************************

        CONTAINER DIMENSIONS

************************************/

.container {
    height: 400px;
    width: 400px;
    border: 1px solid #000;
}

/****************************************

       DISPLAY DIMENSIONS AND STYLE

*****************************************/

#display-wrapper {
    border: 1px solid #000;
    margin:30px;
    text-align: center;
    height: 30px;

}

/****************************************

        INPUT DIMENSIONS AND STYLE

*****************************************/

.input-wrapper {
    margin:30px;
    text-align: center;
}






















