/*************************************************

    GENERAL BODY AND HTML STYLING.

**************************************************/

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/********************************************************

    GENERAL CONTAINER COLUMNS AND ROWS DIMENSIONS.

*********************************************************/

.container-fluid {
    background-color: rgba(3, 4, 4, 0.15);
}

.row {
    /*border: solid 1px #000;*/
}

.col {
    /*border: solid 1px #000;*/
}

/********************************************************

    NAVIGATION STYLING.

*********************************************************/

.navbar {
    margin: 0;
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-brand {
    color: #414141;
    font-size: 25px;
    margin-top: 5px;
    font-weight: normal;
}

.navbar-default .navbar-nav>li>a {
    color: #050505;
    font-family: inherit;
    font-weight: lighter;
    font-size: 25px;
    padding: 20px;
}

.stick {
    color: #000;
    margin: 0 20px 0 20px;

}

/********************************************************

    1ST BLOCK STYLING.

*********************************************************/


.first-block-text {
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-weight: lighter;
}

#first-row {
    height: 900px;
    background-image: url("../img/header-pic1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    bottom: 60px;
    z-index: -1;

}

.header-text h1 {
    margin-top: 450px;
    font-size: 100px;
    font-weight: lighter;
}

h2 {
    font-size: 25px;
    padding-right: 10px;

}

/********************************************************

    2ND BLOCK STYLING.

*********************************************************/

.second-block-text {
    font-family: 'Josefin Sans', sans-serif;
}


#second-row {
    height: 500px;
}

.about-header {
    font-size: 60px;
}

.about-col {
    padding: 0 200px;
    max-height: 100%;
}

.about-text {
    font-size: 20px;
    margin-bottom: 55px;
    text-align: center;
}

/********************************************************

    3rd BLOCK STYLING.

*********************************************************/

#third-row {
    height: 500px;
    width: auto;
}












