/*************************************************

    GENERAL BODY AND HTML STYLING.

**************************************************/

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/********************************************************

    GENERAL CONTAINER COLUMNS AND ROWS DIMENSIONS.

*********************************************************/

.container-fluid {
    background-color: rgba(3, 4, 4, 0.15);
}

.row {
    border: solid 1px #000;
}

.col {
    border: solid 1px #000;
}

