body {
    margin: 0px;
    padding: 0px;
    background-image: url('https://static.pexels.com/photos/296115/pexels-photo-296115.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    font-family: AppleMyungjo;
    text-align: center;
    color: #050505;
    background-color: #fff;
    margin: auto;
    padding: 60px;
    border-bottom: 20px solid #000;
    font-weight: bolder;
    opacity: 0.9;
}

.header h1 {
    text-decoration: underline;
    font-size: 50px;
}



.text {
    padding: 50px 150px 50px 150px;
    list-style: none;
    border: 20px solid #000;
    margin: 200px 300px 100px 300px;
    text-align: center;
    background-color: #fff;
    border-radius: 30px;
    font-family: AppleMyungjo;
    font-weight: bolder;
    opacity: 0.9;
}

.text li {
    list-style: none;
    margin: 0 30px 20px 0;
    text-align: center;
    opacity: 100;

}

h2 {
    font-size: 30px;
    color: #808080;
    text-decoration: underline;
}

.images {
    text-align: center;
    background-color: #fff;
    border: 10px #000 solid;
    border-radius: 20px;
    opacity: 0.9;
}

#co_vision {
    color: #000;
    font-size: 50px;
    font-family: AppleMyungjo;
}

.img {
    height:200px;
    width: 200px;
    border-radius: 50px 0 50px 0;
    border: 5px solid #000;
    margin: 0 20px 10px 20px;
}

.our_product {
    color: #000;
    font-family: AppleMyungjo;
}

.product_table {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, tr, th, td {

    border-bottom: 5px solid #000;
    table-layout: auto;
    height: 50px;
    border-radius: 50px;
    font-weight: bolder;
}

tr:hover{
    text-decoration: underline;
    background-color: #fff;
}

th {
    border-radius: 0;
}

footer {
    background-color: #fff;
    margin: auto;
    padding: 90px 0 100px 0;
    text-align: center;
}

#end_page {
    font-weight: bold;
}

















