/*******************

Blue Background.

********************/

#blue{
	height: 500px;
	width: 700px;
	border: 5px solid black;
	background-color: blue;
	overflow: hidden;
}

/*******************

 White Vectors.

********************/

#white-diagonal {
	border: 1px solid white;
	background-color: white;
	height: 100px;
	width: 300px;
	transform: rotate( 30deg);
	padding:0 800px 0 0;
	position: relative;
	top: 193px;
	left: -466px;
}

#white-diagonal2 {
	border-right: 1px solid white;
	background-color: white;
	height: 100px;
	width: 100px;
	transform: rotate( 119deg);
	position: relative;
	bottom: 15px;
	left: 0px;
	padding: 0 900px 0 0;

	
}

#white-vertical{
	float:left;
	height: 500px;
	width: 100px;
	border: 15px solid white;
	background-color: white;
	position: relative;
	right: -300px;
	top: 0px;
}

#white-horizontal{
	border: 25px solid white;
	height: 100px;
	width: 100px;
	background-color: white;
	position: relative;
	bottom: -180px;
	left: -224px;
	padding: 0 550px 0 350px;
}

/*********************

Red Vectors.

*********************/

/********************

Red Diagonals.

*********************/

#red-diagonal-bottom {
	border: 1px solid white;
	height: 30px;
	width: 70px;
	background-color: red;
	position: relative;
	bottom: -58px;
	right: 10px;
	padding: 0 500px 0 0;

}

#red-diagonal-top {
	border: 1px solid white;
	height: 30px;
	width: 70px;
	background-color: red;
	position: relative;
	bottom: 21px;
	right: -545px;
	padding:0 280px 0 0;
}

#red-diagonal-bottom2 {
	border: 1px solid white;
	height: 30px;
	width: 70px;
	background-color: red;
	position: relative;
	bottom: -55px;
	right: -36px;
	padding: 0 290px 0 0;
}

#red-diagonal-top2 {
	border: 1px solid white;
	height: 30px;
	width: 70px;
	position: relative;
	bottom: 19px;
	right: -378px;
	padding: 0 500px 0 0;
	background-color: red;
}


/*******************

Red Horizontal / Verticle.

********************/

#red-horizontal {
	border: 1px solid white;
	height: 79px;
	width: 60px;
	background-color: red;
	position: relative;
	bottom: -5px;
	right: 234px;
	padding: 0 730px 0 0;
}

#red-verticle-top {
	border-right: 1px solid red;
	height: 60px;
	width: 80px;
	background-color: red;
	position: relative;
	right: -172px;
	top: -286px;
	padding: 0 0 151px 0;
}

#red-verticle-bottom {
	border-right: 1px solid red;
	border-left: 1px solid red;
	height: 60px;
	width: 80px;
	background-color: red;
	position: relative;
	right: -172px;
	bottom: 207px;
	padding: 0 0 150px 0;
}





























